<div class="actions">
  <%= link_to edit_spot_path(spot), class: 'actions_btn' do %>
  	<i class="fas fa-edit"></i>
  <%end%>
  <%= link_to spot_path(spot), class: 'actions_btn', method: :delete, data: {confirm: 'Do you want to delete the review?'} do %>
   <i class="fas fa-trash-alt"></i>
	<%end%>
</div>