<div class="container-nomargin">
  <h3> Edit this spot </h3>
  <%= render'form', spot: @spot %>
  <div class="up">
    <%= link_to :back do %>
    <i class="fas fa-arrow-left"></i>
  <%end%>
</div>
</div>
