.container {
  width: 100vw;
  padding: 2rem;
  margin-top: 3.5rem;
  // text-align:center;
}

.container-nomargin{
  width: 100vw;
  padding: 1rem;
}


.small-text {
  font-size: 1.75rem;
  color: $lightblue;
  font-family: $headers-font;
}

// .container {
//   width: 100vw;
//   margin-top: 3.5rem;
//   padding: 2rem;
// }


.center {
  margin: 2rem 0;
  text-align: center;
}
