.container {
  width: 100vw;
  padding: 2rem;
  margin-top: 3.5rem;
  // text-align:center;
}

.container-nomargin{
  width: 100vw;
  padding: 1rem;
}


.small-text {
  font-size: 1.75rem;
  margin-bottom: 1rem;
  color: $lightblue;
  font-family: $headers-font;
}

.center {
  margin: 2rem 0;
  text-align: center;
}

.container-logout {
  text-align: center;
  width: 100vw;
  padding-top: 3rem;
}
