.container {
  width: 100vw;
  padding: 2rem;
  margin-top: 3.5rem;
}
.container-nomargin{
  width: 100vw;
  padding: 2rem;
  background-color: $light-gray;
}


.small-text {
  font-size: 1.75rem;
  color: $lightblue;
  font-family: $headers-font;
}