<div id="fav_button_<%=spot.id%>">
  <% unless current_user.blank? %>
      <% if @favorites.find_by(spot: spot) %>
          <%= link_to spot_favorites_path(spot), method: :delete, remote: true do %>
            <i class="fas fa-heart"></i> 
          <%end%>
        <%else%>
          <%= link_to spot_favorites_path(spot), method: :post, remote: true do %>
            <i class="far fa-heart"></i>
          <% end%>
      <% end%>
  <%end%>
</div>