<p class="spot_name"><%= spot.name.capitalize %></p>
<p><strong>Address: </strong><%= spot.address %></p>
<p><strong>Category: </strong><%= spot.category %></p>
<%= link_to 'See more >', spot_path(spot), class: 'btn-small'%>
