<div class="container">
<div class="small-text">Weclome in Da Secret Spot Police</div>
</div>

<div class="container-logout">
<p>Done with sharing secrets?
<%= link_to "Logout.", destroy_user_session_path, method: :delete, class: "btn-small" %></p>
</div>