.footer {
  width: 100vw;
  margin: 2rem 0 0 0;
  padding: 2rem;
  z-index: 3000;
  &-top {
    background-color: $lightgreen;
    color: $gray;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-evenly;
    & img {
      width: 20vw;
      margin: 0 1rem 0 0;
    }
  }

  &-bottom {
    background-color: $lightblue;
    color: $white;
  padding: 2rem;
  }
}

.claim {
  margin: 0 0 0px;
  padding-left: 15px;
  color: $lightblue;
  font-family: $headers-font;
  font-size: 1.5rem;
  font-weight: 600;
  // text-shadow: 4px 4px 3px rgba(255, 255, 255, 0.8);
  // -webkit-text-stroke: 0.4px $light-gray;
  letter-spacing: 3px;
  line-height: 2rem;

}
