<div class="actions_review">
  <%= link_to review_path(review), class: 'actions_btn', method: :delete, data: {confirm: 'Do you want to delete the review?'} do %>
   <i class="fas fa-trash-alt"></i>
  <%end%>
</div>

