<div class="actions">
  <%= link_to report_path(report), method: :patch do %>
  <span class="btn-small"><i class="far fa-check-circle"></i></span>
  <span class="btn-small">Mark Done</span>
  <%end%>
</div>
