<div class="container">
  <%= render'form', report: @report %>
  <div class="up">
      <%= link_to :back do %>
      <i class="fas fa-arrow-left"></i>
    <%end%>
  </div>
</div>

<div class="up">
    <%= link_to :back do %>
    <i class="fas fa-arrow-left"></i>
  <%end%>
</div>
