<div class="container-nomargin">
  <h3 class="small-title"> Report this to the moderators and help us keeping the website safe! </h3>
  <%= render'form', report: @report %>
  <div class="up">
      <%= link_to :back do %>
      <i class="fas fa-arrow-left"></i>
    <%end%>
  </div>
</div>
